<%- include('./partials/head.ejs') %> <%- include('./partials/header.ejs') %>

<body>
  <h1>Signup or login to see the puppies</h1>
  <p>
    Kunne egentlig bare ha hatt de p åfrontpage men jeg må ha en grunn til å
    lage bruker
  </p>
</body>
